@{
    ViewBag.Title = "Home Page";
}
@{
    Layout = "";
}
<head>
    <title>Colander</title>
</head>
<div class="startimage">
    <a href="~/WordLists/Index"><img style="margin-left:0px" src="~/startwyc.jpg" /></a>  
                               </div>
