@model Colander.WordService.WordList

@{
    ViewBag.Title = "Delete";
}

<h2 style="font-family:'Copperplate Gothic'; margin-left:580px; margin-top:0px">Delete</h2>

<h3 style="font-family:'Copperplate Gothic'; margin-left:330px; margin-top:0px">Are you sure you want to delete this list of words?</h3>
<div>

    <dl class="dl-horizontal">
    </dl>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" style="margin-left:600px; margin-top:0px" /> 
            <br />
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
