@model IEnumerable<Colander.WordService.WordList>
@{
    ViewBag.Title = "Lists";
}

    <div  style="margin-left: 255px">
        <h4>Your lists of words:</h4>
    </div>
<table class="table" style="width:820px;  margin-left:250px">
    <tr style="background-color:darkgray; color:black;">
        <th>
            @Html.DisplayNameFor(model => model.WordListName)
        </th>
        <th>
            Actions
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td style="width:460px; font-size:16px; font-weight:bold; font-family:'Lucida Sans'">
                @Html.DisplayFor(modelItem => item.WordListName)
            </td>
            <td style=" width:340px;">
                <div style="display:inline">
                    @using (Html.BeginForm("Change name", "Edit", new { id = item.WordListID }))
                {
                        <input type="submit" value="Change name" class="btn btn-primary" style="float:left; margin-right:3px"  />
                    }
                    @using (Html.BeginForm("Show words", "Words", new { id = item.WordListID }))
                {
                        <input type="submit" value="Show words" class="btn btn-primary" style="float:left; margin-right:3px"/>
                    }
                    @using (Html.BeginForm("Delete list", "Delete", new { id = item.WordListID }))
                {
                        <input type="submit" value="Delete list" class="btn btn-primary" style="float:left"/>
                    }
                </div>
            </td>
        </tr>
    }
    
</table>
<div style="margin-left:920px; margin-top:10px">
    @using (Html.BeginForm("Create New", "Create"))
    {
        <input type="submit" value="Create new list" class="btn btn-primary" style="background-color:whitesmoke; border-color:dimgray" />
    }
</div>
