@model Colander.WordService.Word

@{
    ViewBag.Title = "Learn";
}

<h2>Learn</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
                    
        <h4>@Html.DisplayFor(model => model.WordOriginal)</h4>
    </div>
    <div>
        Your answer: @Html.TextBox("usersAnswer")<br />
        <input type="submit" value="Check" class="btn btn-default" />
    </div >

}
