@model Colander.WordServices.WordList
@{
    ViewBag.Title = "AllLearnd";
}

<h1 style="margin-left:15em;">All Learnd</h1>
<h2 style="margin-left:20em;">@Html.DisplayFor(model => model.WordListName)</h2>


