@model Colander.WordService.Word

@{
    ViewBag.Title = "Learn";
}

<h2>Learn</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <h4>@Html.DisplayFor(model => model.WordOriginal)</h4>
    </div>
    <div>
        Your answer: <input type="text" name="usersAnswerTextBox" id="theInput" /><br />
    </div>
    <div>
        <input type="button" value="Check" onclick="showhide(),changeThis()" class="btn btn-default" /><br />
    </div>
        <div id="checking" style="display:none" />
        <script type="text/javascript">
            function showhide() {
                var div = document.getElementById("checking");
                div.style.display = "block";
            }
            function changeThis() {
                var input = document.getElementById('theInput').value;
                document.getElementById('usersAnswer').innerHTML = input;
            }
        </script>

    //if (input==wordTranslation) then <h3 color=green> Correct! </h3>
    // else <h3 color=red> Incorrect! </h3>
    /// wybacz pseudokod

    <div id="checking"> Correct answer: <p style="color:green">@Html.DisplayFor(model => model.WordTranslation)</p> </div>
    <div id="checking"> Your answer: <p><span id='usersAnswer'></span></p><br /></div> //jesli odpowiedz bedzie ok, kolor będzie zielony
                                                                                        <input id="checking" type="button" value="Next" class="btn btn-default" />

    <div>
        @Html.ActionLink("Back to List", "Index", "Words", Model.WordListID, null)
    </div>
} 